$ORIGIN {{zone}}.
$TTL 1h

{{zone}}. IN SOA {{ns1}}. {{zone}}. ( {{serial}} 1h 2h 1d 1h )

; dominios públicos de los NS delegados
{{zone}}. IN NS {{ns1}}.
{{zone}}. IN NS {{ns2}}.

; IP dinámica
{{zone}}. IN A     {{public_address}}
{{#public_address6}}
{{zone}}. IN AAAA  {{public_address6}}
{{/public_address6}}

{{#lvpn}}
; DNS-SD para LVPN
_lvpn._udp.{{zone}}. IN PTR {{zone}}.
_lvpn._udp.{{zone}}. IN SRV 0 0 {{tinc_port}} {{zone}}.
_lvpn._udp.{{zone}}. IN TXT {{#base64_host_file}}"{{.}}" {{/base64_host_file}}
{{/lvpn}}
