$ORIGIN {{zone}}.
$TTL {{ttl}}

{{zone}}. IN SOA {{ns1}}. {{zone}}. ( {{serial}} {{ttl}} {{ttl}} {{slave_ttl}} {{ttl}})

; dominios públicos de los NS delegados
{{zone}}. IN NS {{ns1}}.
{{zone}}. IN NS {{ns2}}.

; IP dinámica
{{#public_address}}
{{zone}}.   IN A     {{public_address}}
*.{{zone}}. IN A     {{public_address}}
{{/public_address}}
{{#public_address6}}
{{zone}}.   IN AAAA  {{public_address6}}
*.{{zone}}. IN AAAA  {{public_address6}}
{{/public_address6}}

; Deprecate www
www.{{zone}}. IN CNAME {{zone}}.

; SPF
{{zone}}. {{ttl}} IN TXT "v=spf1 ip4:{{public_address}} ip6:{{public_address6}} -all"

; XMPP
_xmpp-client._tcp.{{zone}}. {{ttl}} IN SRV 0 5 5222 {{zone}}.
_xmpp-server._tcp.{{zone}}. {{ttl}} IN SRV 0 5 5269 {{zone}}.

; Registros extra
{{#extra}}
{{#subdomain}}{{subdomain}}.{{/subdomain}}{{zone}}. {{&extra_record}}
{{/extra}}

{{#lvpn}}
; DNS-SD para LVPN
_lvpn._udp.{{zone}}. IN PTR {{zone}}.
_lvpn._udp.{{zone}}. IN SRV 0 0 {{tinc_port}} {{zone}}.
_lvpn._udp.{{zone}}. IN TXT {{#base64_host_file}}"{{.}}" {{/base64_host_file}}
{{/lvpn}}
